<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="../assets/images/logo.png" width="24" height="24" class="me-3 d-inline-block align-text-top">
      <b>CDF</b>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">Início</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Campeonatos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item">CSGO</a></li>
            <li><a class="dropdown-item">League of Legends</a></li>
            <li><a class="dropdown-item">Valorant</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link">Contato</a>
        </li>
      </ul>

      <form class="d-flex" style="margin-left: auto; margin-right: auto; width: 40%;">
        <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Search">
        <!-- <button class="btn btn-outline-danger" type="submit">Pesquisar</button> -->
      </form>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item me-2">
          <a class="nav-link" style="outline: 2px solid silver;">Inscrever-se</a>
        </li>
        <li class="nav-item" style="outline: 2px solid silver;">
          <a class="nav-link">Entrar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>